USE [PCT]
GO
/****** Object:  Table [dbo].[CONTROL]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTROL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CONTROL_ID] [bigint] NULL,
	[REMOTE_ID] [bigint] NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[INGORE_STRING] [nvarchar](40) NULL,
	[COMMIT_STRING] [nvarchar](50) NULL,
	[IMAGE] [varbinary](max) NULL,
	[IMAGE2] [varbinary](max) NULL,
	[IMAGE3] [varbinary](max) NULL,
	[IMAGE4] [varbinary](max) NULL,
	[M1] [nvarchar](50) NULL,
	[M2] [nvarchar](50) NULL,
	[M3] [varchar](20) NULL,
	[M4] [nvarchar](20) NULL,
	[IMAGE_QUALITY] [int] NULL,
	[IMAGE_SCALE] [int] NULL,
	[STARTDATE] [datetime] NULL,
	[CONTROL_SIGNAL] [datetime] NULL,
	[REMOTE_SIGNAL] [datetime] NULL,
	[RESX] [int] NULL,
	[RESY] [int] NULL,
	[REMOTE_PCNAME] [nvarchar](30) NULL,
	[NATIVE_RESX] [int] NULL,
	[NATIVE_RESY] [int] NULL,
	[CLOSED] [int] NULL,
	[NUM_OF_SCREEN] [int] NULL,
	[PRIMARY_SCREEN] [int] NULL,
	[CLIPBOARD] [ntext] NULL,
	[STATUS] [int] NULL,
	[REMOTE_LATENCY] [nvarchar](30) NULL,
	[COMPRESS_MODE] [int] NULL,
	[CURSORS] [nvarchar](max) NULL,
 CONSTRAINT [PK_CONTROL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CONTROL__C5B196034222D4EF] UNIQUE NONCLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[CONTROL_GET_IMAGE_FRAMENT]    Script Date: 07/28/2015 20:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CONTROL_GET_IMAGE_FRAMENT]
@SESSION_ID int
AS

BEGIN


--select * from CONTROL
DECLARE @S nvarchar(50)
SELECT @S = COMMIT_STRING FROM CONTROL WHERE ID = @SESSION_ID


DECLARE @SQL nvarchar(200)

SET @SQL = ' SELECT ID ' + @S + ',REMOTE_ID,INGORE_STRING, M1,M2,M3,M4 FROM CONTROL WHERE ID = ' + CONVERT(nvarchar(20),@SESSION_ID)

--SELECT @SQL

EXEC sp_executesql @SQL

UPDATE CONTROL SET CONTROL_SIGNAL =GETDATE() WHERE ID = @SESSION_ID

END

--        CONTROL_GET_IMAGE_FRAMENT 3
GO
/****** Object:  View [dbo].[WCONTROL]    Script Date: 07/28/2015 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[WCONTROL]
AS
SELECT     CONTROL_SIGNAL, REMOTE_SIGNAL, M1, M2, M3, M4
FROM         dbo.CONTROL
GO
/****** Object:  Table [dbo].[ACTION]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SESSION_ID] [int] NULL,
	[ACTION] [nvarchar](200) NOT NULL,
	[CDATETIME] [datetime] NULL,
 CONSTRAINT [PK_ACTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_LIST_ACTION]    Script Date: 07/28/2015 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LIST_ACTION]
AS
SELECT     dbo.ACTION.*, dbo.CONTROL.CONTROL_ID, dbo.CONTROL.REMOTE_ID
FROM         dbo.ACTION LEFT OUTER JOIN
                      dbo.CONTROL ON dbo.ACTION.SESSION_ID = dbo.CONTROL.ID
GO
/****** Object:  View [dbo].[VW_LIST_CONTROL_FRAGMENT]    Script Date: 07/28/2015 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LIST_CONTROL_FRAGMENT]
AS

SELECT * FROM CONTROL
GO
/****** Object:  Table [dbo].[FILEDATA]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILEDATA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FILENAME] [nvarchar](200) NULL,
	[BINARY] [image] NULL,
	[TYPE] [nvarchar](50) NULL,
	[SIZE] [float] NULL,
	[VERSION] [nvarchar](50) NULL,
	[CDATETIME] [datetime] NULL,
	[USERCODE] [nvarchar](50) NULL,
	[MD5] [nvarchar](100) NULL,
	[ACTIVE] [varchar](1) NULL,
	[EXE] [varchar](1) NULL,
 CONSTRAINT [PK_UPDATES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHAT]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PCS_ID] [int] NULL,
	[NICKNAME] [varchar](50) NULL,
	[TEXT] [nvarchar](max) NULL,
	[CDATETIME] [datetime] NULL,
	[ISPUBLIC] [int] NULL,
	[CONTROL_ID] [int] NULL,
	[REMOTE_ID] [int] NULL,
 CONSTRAINT [PK_CHAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERCODE] [nvarchar](20) NULL,
	[PASSWORD] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[CDATETIME] [datetime] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_USERS] UNIQUE NONCLUSTERED 
(
	[USERCODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PCS]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PCS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERCODE] [nvarchar](140) NULL,
	[PASS] [nvarchar](140) NULL,
	[PCS_ID] [int] NULL,
	[PCS_NAME] [nvarchar](150) NULL,
 CONSTRAINT [PK_USER_PCS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACTION_TRANS]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTION_TRANS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SESSION_ID] [int] NULL,
	[ACTION] [nvarchar](100) NOT NULL,
	[CDATETIME] [datetime] NULL,
 CONSTRAINT [PK_ACTION2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCS]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PCID] [nvarchar](max) NULL,
	[PCNUMBER] [nvarchar](20) NULL,
	[PCNAME] [nvarchar](120) NULL,
	[OS] [nvarchar](220) NULL,
	[VERSION] [nvarchar](60) NULL,
	[CDATETIME] [datetime] NULL,
	[LASTDATETIME] [datetime] NULL,
	[SIGNAL] [datetime] NULL,
 CONSTRAINT [PK_PCS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[FileUpdate]    Script Date: 07/28/2015 20:38:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FileUpdate]
@ID INT = NULL,
@FILENAME NVARCHAR(200) = NULL,
@BINARY IMAGE = NULL,
@TYPE NVARCHAR(50) = NULL,
@SIZE FLOAT = NULL,
@VERSION NVARCHAR(50) = NULL,
@CDATETIME DATETIME = NULL,
@USERCODE DATETIME = NULL,
@MD5 nvarchar(100) = null
AS

DECLARE @RetCode int, @RetMsg varchar(10)
SET @RetCode = 1
set @RetMsg = 'MSG0003' --Update successfully

--CHECK DATA
if (isnull(@ID,0) = 0)
BEGIN
	SET @RetCode = 0
	set @RetMsg = 'MSG0006' --Missing mandatory data
	goto LEND
END

UPDATE [FILEDATA]
SET 
	[FILENAME] = @FILENAME,
	[BINARY] = @BINARY,
	[TYPE] = @TYPE,
	[SIZE] = @SIZE,
	[VERSION] = @VERSION,
	[CDATETIME] = @CDATETIME,
	[USERCODE] = @USERCODE,
	MD5 = @MD5
WHERE ([ID] = @ID) 

LEND:

--RETURN RESULT
SELECT @RetCode AS RetCode,@RetMsg as RetMsg
GO
/****** Object:  StoredProcedure [dbo].[FileInsert]    Script Date: 07/28/2015 20:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FileInsert]
@ID INT = NULL,
@FILENAME NVARCHAR(200) = NULL,
@BINARY IMAGE = NULL,
@TYPE NVARCHAR(50) = NULL,
@SIZE FLOAT = NULL,
@VERSION NVARCHAR(50) = NULL,
@CDATETIME DATETIME = NULL,
@USERCODE nvarchar(50) = NULL,
@MD5 nvarchar(100) = null,
@ACTIVE varchar(1) = null,
@EXE varchar(1) = null
AS


DELETE FILEDATA WHERE FILENAME = @FILENAME
INSERT INTO [FILEDATA](
	
	[FILENAME],
	[BINARY],
	[TYPE],
	[SIZE],
	[VERSION],
	[CDATETIME],
	[USERCODE],
	MD5,
	ACTIVE,EXE)
VALUES(
	@FILENAME,
	@BINARY,
	@TYPE,
	@SIZE,
	@VERSION,
	GETDATE(),
	@USERCODE,
	@MD5,@ACTIVE,@EXE)
GO
/****** Object:  StoredProcedure [dbo].[FileDelete]    Script Date: 07/28/2015 20:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--1 : SUCCESS
--0 : BEING IN USE

CREATE PROCEDURE [dbo].[FileDelete]
@ID INT = NULL
AS

DECLARE @RetCode int, @RetMsg varchar(10)

SET @RetCode = 1
set @RetMsg = 'MSG0002' --Delete successfully

--CHECK DATA
if (isnull(@ID,0) = 0)
BEGIN
	SET @RetCode = 0
	set @RetMsg = 'MSG0006' --Missing mandatory data
	goto LEND
END

--CHECK IF BEING IN USE OR NOT
--IF(EXISTS(SELECT * FROM ? WHERE ?))
--BEGIN
--	SET @RetCode = 0
--	set @RetMsg = 'MSG0005' --Data in use
--	goto LEND
--END

DELETE FROM [FILEDATA] 
WHERE ([ID] = @ID) 

LEND:

--RETURN RESULT
SELECT @RetCode AS RetCode,@RetMsg as RetMsg
GO
/****** Object:  View [dbo].[VW_LIST_USER_PCS]    Script Date: 07/28/2015 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LIST_USER_PCS]
AS
SELECT     dbo.PCS.SIGNAL, dbo.USER_PCS.ID, dbo.USER_PCS.USERCODE, dbo.USER_PCS.PASS, dbo.USER_PCS.PCS_ID, dbo.USER_PCS.PCS_NAME, DATEDIFF(ms, ISNULL(dbo.PCS.SIGNAL, GETDATE()), 
                      GETDATE()) AS LAST_SIGNAL_SECOND
FROM         dbo.USER_PCS LEFT OUTER JOIN
                      dbo.PCS ON dbo.USER_PCS.PCS_ID = dbo.PCS.ID
GO
/****** Object:  Table [dbo].[FILE_TRANSFER]    Script Date: 07/28/2015 20:38:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FILE_TRANSFER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[FILE_DATA] [varbinary](max) NULL,
	[DATA] [image] NULL,
	[MD5] [nvarchar](100) NULL,
	[CDATETIME] [datetime] NULL,
	[CONTROL_ID] [int] NULL,
	[REMOTE_ID] [int] NULL,
	[SEND_STATUS] [int] NULL,
	[RECEIVE_STATUS] [int] NULL,
 CONSTRAINT [PK_REMOTE_FILE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__REMOTE_F__C5B196035535A963] UNIQUE NONCLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[VW_LIST_ACTION_TRANS]    Script Date: 07/28/2015 20:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_LIST_ACTION_TRANS]
AS
SELECT     dbo.ACTION_TRANS.*, dbo.FILE_TRANSFER.REMOTE_ID, dbo.FILE_TRANSFER.CONTROL_ID, dbo.FILE_TRANSFER.DATA, dbo.FILE_TRANSFER.MD5
FROM         dbo.ACTION_TRANS LEFT OUTER JOIN
                      dbo.FILE_TRANSFER ON dbo.ACTION_TRANS.SESSION_ID = dbo.FILE_TRANSFER.ID
GO
/****** Object:  Default [DF_ACTION_CDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[ACTION] ADD  CONSTRAINT [DF_ACTION_CDATETIME]  DEFAULT (getdate()) FOR [CDATETIME]
GO
/****** Object:  Default [DF_ACTION_TRANS_CDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[ACTION_TRANS] ADD  CONSTRAINT [DF_ACTION_TRANS_CDATETIME]  DEFAULT (getdate()) FOR [CDATETIME]
GO
/****** Object:  Default [DF_CHAT_CDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CHAT] ADD  CONSTRAINT [DF_CHAT_CDATETIME]  DEFAULT (getdate()) FOR [CDATETIME]
GO
/****** Object:  Default [DF_CHAT_ISPUBLIC]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CHAT] ADD  CONSTRAINT [DF_CHAT_ISPUBLIC]  DEFAULT ((0)) FOR [ISPUBLIC]
GO
/****** Object:  Default [DF__CONTROL__UID__403A8C7D]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF__CONTROL__UID__403A8C7D]  DEFAULT (newid()) FOR [UID]
GO
/****** Object:  Default [DF_CONTROL_QUALITY_SCALE]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_QUALITY_SCALE]  DEFAULT ((1)) FOR [IMAGE_SCALE]
GO
/****** Object:  Default [DF_CONTROL_STARTDATE]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_STARTDATE]  DEFAULT (getdate()) FOR [STARTDATE]
GO
/****** Object:  Default [DF_CONTROL_REMOTE_SIGNAL]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_REMOTE_SIGNAL]  DEFAULT (getdate()) FOR [REMOTE_SIGNAL]
GO
/****** Object:  Default [DF_CONTROL_STATUS]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_STATUS]  DEFAULT ((0)) FOR [CLOSED]
GO
/****** Object:  Default [DF_CONTROL_STATUS_1]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_STATUS_1]  DEFAULT ((0)) FOR [STATUS]
GO
/****** Object:  Default [DF_CONTROL_COMPRESS_MODE]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[CONTROL] ADD  CONSTRAINT [DF_CONTROL_COMPRESS_MODE]  DEFAULT ((0)) FOR [COMPRESS_MODE]
GO
/****** Object:  Default [DF__REMOTE_FILE__UID__534D60F1]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[FILE_TRANSFER] ADD  CONSTRAINT [DF__REMOTE_FILE__UID__534D60F1]  DEFAULT (newid()) FOR [UID]
GO
/****** Object:  Default [DF_REMOTE_FILE_CDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[FILE_TRANSFER] ADD  CONSTRAINT [DF_REMOTE_FILE_CDATETIME]  DEFAULT (getdate()) FOR [CDATETIME]
GO
/****** Object:  Default [DF_REMOTE_FILE_SEND_STATUS]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[FILE_TRANSFER] ADD  CONSTRAINT [DF_REMOTE_FILE_SEND_STATUS]  DEFAULT ((0)) FOR [SEND_STATUS]
GO
/****** Object:  Default [DF_REMOTE_FILE_RECEIVE_STATUS]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[FILE_TRANSFER] ADD  CONSTRAINT [DF_REMOTE_FILE_RECEIVE_STATUS]  DEFAULT ((0)) FOR [RECEIVE_STATUS]
GO
/****** Object:  Default [DF_PCS_CDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[PCS] ADD  CONSTRAINT [DF_PCS_CDATETIME]  DEFAULT (getdate()) FOR [CDATETIME]
GO
/****** Object:  Default [DF_PCS_LASTDATETIME]    Script Date: 07/28/2015 20:38:11 ******/
ALTER TABLE [dbo].[PCS] ADD  CONSTRAINT [DF_PCS_LASTDATETIME]  DEFAULT (getdate()) FOR [LASTDATETIME]
GO
